/*  your css code here. If applicable */
.grid-container{
	display:grid;
    grid-template-columns:repeat(9,200px);
	grid-template-rows: repeat(1,150px);
	grid-gap: 10px;
    flex-wrap: wrap;
}
.grid-item{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color : lightgray;
	border-radius : 5px;
	font-size : 40px;
}