 .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 10px 10px;
            justify-content: center;
        }

        .grid-item {
            background-color: lightgray;
            height: 150px;
            width: 200px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
        }

        @media (max-width: 600px) {
            .grid-item {
                width: calc(50% - 20px);
            }
        }

        @media (max-width: 400px) {
            .grid-item {
                width: calc(100% - 20px);
            }
        }